body {
  margin: 0;
  padding: 5%;
  background: #D0E2F5;
  font-family: Helvetica, Verdana, sans-serif;
}

div {
  padding: 2%;
}

p {
  font-weight: normal;
  font-size: 1em;
}

.header {
  padding: 10px;
  text-align: center;
  font-family: Garamond, serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 5px 1px #333;
  border-top: 1px solid #a2b0d3;
  background: linear-gradient(top, #6699ff, #3366cc);
  background: -moz-linear-gradient(top, #6699ff, #3366cc);
  background: -webkit-linear-gradient(top, #6699ff, #3366cc);
  border-bottom: 1px solid #101a35;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  z-index: 10;
} 

.index {
  position: relative;
  margin-left: 35%;
}
